@import "/src/assets/sass/base.scss";

.details-wrapper {
  // Das Wrapper-Element für den gesamten Slider
  width: 80%;

  .slick-slider {
    // Styles für den Slick Slider selbst
    .slick-list {
      // Styles für die äußere Liste
      overflow: hidden;
    }

    .slick-slide {
      // Styles für einzelne Slides
      text-align: center; // Zentriert den Inhalt innerhalb jedes Slides
      display: flex;
      justify-content: center; // Zentriert horizontal
      align-items: center; // Zentriert vertikal
    }

    .slick-prev,
    .slick-next {
      z-index: 1;
      &::before {
        font-size: 2.5rem;
        color: var(--bg-btn-arrow-slider);
      }
    }
    .slick-prev {
      &::before {
        margin-left: -1.5rem;
      }
    }
    .slick-next {
      &::before {
        margin-right: 1.5rem;
      }
    }
  }

  .details-item {
    // Styles für einzelne Slides
    background-color: var(--bg-slide); // Hintergrundfarbe der Slides
    border-radius: 1.25rem;
    box-shadow: 0 0.5rem 0.5rem var(--bg-btn-arrow-boxShadow);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .details-desc {
    // Styles für die Beschreibung in den Slides
    font-size: 1.2rem;
    color: var(--p);
    margin: 1rem 0;
  }

  .details-img {
    // Styles für das Bild in den Sl
    max-width: 100%;
    max-height: 80vh; // Setzt eine maximale Höhe, um sicherzustellen, dass das Bild nicht den Viewport sprengt
    overflow: hidden; // Verhindert Überlaufen von zu großen Bildern
    img {
      padding: 0 0.5rem;
      height: 60vh;
      width: 80vw;
      max-height: 80vh;
      display: block;
      margin: 0 auto; // Zentriert das Bild horizontal
      object-fit: contain; // Skaliert das Bild, um es vollständig anzuzeigen, ohne es zu verzerren
    }
    :hover {
      cursor: pointer;
    }
  }
}

img.details-max {
  // border: red 1px solid;
  width: 90vw;
  max-height: 80vh;

  @include mobile {
    transform: rotate(-90deg);
    transform-origin: center;
    width: 90vh;
  }
}
