@import "./normalize.scss";
@import "./theme-colors.scss";
@import "./mixins";

html,
body,
#root {
  height: 100%;
  font-family: "Poppins";
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }
}

// Breakpoints media devices: max sizes
$mobile: 425px; //360 small mobile
$tablet: 768px;
$laptop: 1024px;
$desktop-lg: 1440px;
