@import "../../../src/sass/base.scss";

.home {
  display: grid; /* Definiert das übergeordnete Element als Grid-Container */
  grid-template-columns: 1fr 1fr 1fr; /* 3 gleich große Spalten */
  grid-template-rows: 1fr; /* Lässt die Zeile auf 100% der Höhe wachsen */
  grid-template-areas: "home home frame"; /* Definiert die Anordnung der Bereiche */
  flex-grow: 1; /* Lässt das .home-Element auf 100% der verfügbaren Höhe wachsen */
  // border: solid 1px red; /* Sichtbarer Rahmen zum Debuggen */

  .frame {
    grid-area: frame; /* Platziert das Element in dem "frame"-Bereich des Grids */
    display: flex;
    justify-content: flex-end;

    .frame-order {
      position: relative;
      width: 300px; /* oder eine andere passende Breite */
      height: 300px; /* oder eine andere passende Höhe */

      .frame-svg {
        position: absolute;
        z-index: 0;
      }

      .frame-img {
        position: absolute;
        z-index: 1;
        border-radius: 100rem;
        width: 170px;
        height: 170px;
        bottom: 22px;
        left: 22px;
      }
    }
  }

  .homeWrapper {
    grid-area: home; /* Platziert das Element in dem "home"-Bereich des Grids */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: solid red 1px;

    .home-h1 {
      display: flex;
      flex-direction: column;
      color: $primary-h1;

      .highlight-text {
        color: $secondary-h1;
      }
    }
  }

  @include mobile {
    grid-template-columns: 1fr; /* 3 gleich große Spalten */
    grid-template-rows: 0.5fr auto;
    grid-template-areas:
      "frame"
      "home";
  }

  @include tablet {
    grid-template-columns: 1fr; /* 3 gleich große Spalten */
    grid-template-rows: 0.5fr auto;
    grid-template-areas:
      "frame"
      "home";
  }
}
