@import "/src/assets/sass/base.scss";

ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
  }
}

.themesToggler {
  display: flex;
  // border: 1px solid green;
  flex-grow: 1;
}

.placeholder {
  // border: 1px solid green;
  display: flex;
  flex-grow: 1;
}

.menu-wrapper {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // border: 1px solid red;

  .menu-horizontal {
    .menu-item {
      margin: 0.35rem 0.5rem;
      :hover {
        border-bottom: 2px solid var(--pri-color-svg);
      }
    }
  }

  .menu-vertical {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-mobile-menu);

    .menu-item {
      // box-sizing: border-box;
      height: 2rem;
      display: flex;
      align-items: center;
      :hover {
        border-bottom: 2px solid var(--pri-color-svg);
      }
    }
  }
}
