@import "/src/assets/sass/base.scss";

.contact-button {
  display: inline-block; /* Macht den a-Tag wie einen Button blockförmig */
  background-color: var(--bg-btn-default); /* Heller grauer Hintergrund */
  color: var(--btn-label); /* Schwarzer Text */
  text-decoration: none; /* Entfernt die Standard-Unterstreichung */
  padding: 0.75rem 1.5rem; /* Abstand innen (oben/unten: 10px, rechts/links: 20px) */
  font-size: 1rem; /* Textgröße */
  font-weight: bold; /* Fettdruck für den Text */
  text-align: center; /* Text zentriert */
  border-radius: 50rem; /* Runde Ecken */
  box-shadow: 0px 0.5rem 1rem var(--btn-default-boxShadow);
  cursor: pointer; /* Zeigt an, dass der Button klickbar ist */
  transition: all 0.3s ease; /* Sanfte Übergänge für Hover-Effekte */
}

.contact-button:hover {
  box-shadow: 0px 0.5rem 1rem var(--btn-default-boxShadow_hover);
  transform: translateY(-2px); /* Der Button hebt sich beim Hover leicht an */
}
