@import "/src/assets/sass/base.scss";

article.datenschutz {
  overflow-y: scroll;
  height: 90vh;
  padding: 0 2rem;
  background-color: var(--bg-footer-disclaimer);
}
ul.urheber {
  //   border: rebeccapurple 1px solid;
  display: flex;
  flex-direction: column;
}
