@import "../../sass/base.scss";

footer {
  .next-page-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    i {
      border-radius: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: $primary-svg 1px solid;

      color: $primary-svg;
      width: 1.15rem;
      height: 1.15rem;
      padding: 0.75rem;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-svg;
  }

  img {
    width: 2rem;
  }

  section {
    > ul,
    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ul {
      flex-wrap: wrap;
    }

    li {
      margin: 0.25rem 0.75rem;
    }

    p {
      margin: 0;
    }

    p,
    a {
      color: $secondary-p;
    }
  }

  @include tablet {
    .next-page-btn {
      visibility: visible;
    }
  }
  @include mobile {
    .next-page-btn {
      visibility: visible;
    }
  }
}
