body.sundown {
  // Sundown Theme
  --h1: #edf4c2;
  --h1-highlight: #eb5a3c;
  --h2: #e7d283;
  --h2-highlight: #eb5a3c;
  --h3: #df9755;
  --h3-highlight: #eb5a3c;
  --h4: #edf4c2;
  --h4-highlight: #df9755;
  --p: #e7d283;
  --p-highlight: #edf4c2;
  --a: #edf4c2;
  --a-highlight: #eb5a3c;
  --span: #edf4c2;
  --span-highlight: #e7d283;

  --btn-label: #eb5a3c;
  --btn-default-boxShadow: #eb5a3c;
  --btn-default-boxShadow_hover: #df9755;

  --pri-color-svg: #e7d283;
  --sec-color-svg: #eb5a3c;

  --bg-header: #eb5a3c;
  --bg-main: #df9755;
  --bg-footer: #eb5a3c;
  --bg-footer-disclaimer: #eb5a3c;
  --bg-overlay-main: rgba(235, 90, 60, 0.85);
  --bg-item-label: rgba(223, 151, 85, 0.85);
  --bg-item-hover: rgba(231, 210, 131, 0.8);
  --bg-slide: #eb5a3c;

  --bg-btn-arrow-slider: #e7d283;
  --bg-btn-arrow-boxShadow: rgba(223, 151, 85, 0.6);
  --bg-btn-toggler: transparent;
  --bg-btn-span-toggler: var(--pri-color-svg);
  --bg-mobile-menu: #eb5a3c;
  --bg-btn-overlay-close: transparent;
  --color-overlay-close: #edf4c2;
  --bg-btn-default: #e7d283;

  // --bg-theme-zones: #df9755;
  --bg-theme-zones: #eb5a3c;
  --color-night: #df9755;
  --color-day: #edf4c2;
  --color-sundown: #edf4c2;
  --color-sunrise: #df9755;
}
