:root {
  // Fonts
  --h1: #111418;
  --h1-highlight: #6d94c5; /* Akzent in Blau */
  --h2: #1a1f24;
  --h2-highlight: #6d94c5;
  --h3: #232a31;
  --h3-highlight: #6d94c5;
  --h4: #3b4450;
  --h4-highlight: #6d94c5;
  --p: #212529;
  --p-highlight: #6d94c5;
  --a: #6d94c5;
  --a-highlight: #cbdceb;
  --span: #444444;
  --span-highlight: #6d94c5;

  --btn-label: var(--a);
  --btn-default-boxShadow: #6d94c5;
  --btn-default-boxShadow_hover: #4a6fa0;

  --pri-color-svg: #6d94c5;
  --sec-color-svg: #cbdceb;

  --bg-header: #e8dfca;
  --bg-main: #f5efe6;
  --bg-footer: #e8dfca;
  --bg-footer-disclaimer: #cbdceb;
  --bg-overlay-main: rgba(109, 148, 197, 0.25); // transparentes Blau
  --bg-item-label: rgba(109, 148, 197, 0.75);
  --bg-item-hover: rgba(109, 148, 197, 0.55);
  --bg-slide: #cbdceb;

  --bg-btn-arrow-slider: #6d94c5;
  --bg-btn-arrow-boxShadow: rgba(109, 148, 197, 0.3);
  --bg-btn-toggler: transparent;
  --bg-btn-span-toggler: var(--pri-color-svg);
  --bg-mobile-menu: #e8dfca;
  --bg-btn-overlay-close: transparent;
  --color-overlay-close: #111418;
  --bg-btn-default: #cbdceb;

  --bg-theme-zones: #e8dfca;
  // --bg-theme-zones: rgb(22, 21, 21);
  --color-night: #3b4450;
  --color-day: #6d94c5;
  --color-sundown: #6d94c5;
  --color-sunrise: #3b4450;
}
