// Day - Theme default
#root,
#modal-root {
  // Fonts
  --h1: #0a0a0a;
  --h1-highlight: #e411b6;
  --h2: #0a0a0a;
  --h2-highlight: #e411b6;
  --h3: #0a0a0a;
  --h3-highlight: #e411b6;
  --h4: #222120;
  --h4-highlight: #c7bbc4;
  --p: #1b1919;
  --p-highlight: #e6dcdc;
  --a: #ffffff;
  --a-highlight: #181717;
  --span: #ece2e2;
  --span-highlight: #181717;
  --btn-label: #181717;

  --pri-color-svg: #b80e9b;
  --sec-color-svg: #642aa5;

  --bg-header: #242424;
  --bg-main: #242424;
  --bg-footer: #242424;
  --bg-footer-disclaimer: #3f7497;
  --bg-overlay-main: #242424;
  --bg-item-label: rgba(32, 24, 32, 0.781);
  --bg-item-hover: rgba(0, 0, 0, 0.534);
  --bg-slide: #242424;

  --bg-btn-arrow-slider: rgb(21, 125, 211);
  --bg-btn-arrow-boxShadow: rgba(29, 31, 29, 0.24);
  --bg-btn-toggler: "transparent";
  --bg-btn-span-toggler: var(--pri-color-svg);
  --bg-mobile-menu: grey;
  --bg-btn-overlay-close: "transparent";
  --bg-btn-default: rgb(129, 124, 124);
  --btn-default-boxShadow: rgba(175, 23, 221, 0.651);
  --btn-default-boxShadow_hover: rgb(0, 110, 255);

  --bg-theme-zones: grey;
  --color-night: white;
  --color-day: orange;
  --color-sundown: rgb(109, 28, 28);
  --color-sunrise: rgb(64, 109, 194);
}
// }
