body.night {
  // Fonts
  --h1: #9290c3;
  --h1-highlight: #535c91;
  --h2: #9290c3;
  --h2-highlight: #535c91;
  --h3: #9290c3;
  --h3-highlight: #535c91;
  --h4: #9290c3;
  --h4-highlight: #1b1a55;
  --p: #9290c3;
  --p-highlight: #535c91;
  --a: #9290c3;
  --a-highlight: #535c91;
  --span: #9290c3;
  --span-highlight: #535c91;

  --btn-label: var(--a);
  --btn-default-boxShadow: #535c91;
  --btn-default-boxShadow_hover: #1b1a55;

  --pri-color-svg: #9290c3;
  --sec-color-svg: #535c91;

  --bg-header: #070f2b;
  --bg-main: #1b1a55;
  --bg-footer: #070f2b;
  --bg-footer-disclaimer: #535c91;
  --bg-overlay-main: rgba(27, 26, 85, 0.85);
  --bg-item-label: rgba(83, 92, 145, 0.75);
  --bg-item-hover: rgba(146, 144, 195, 0.75);
  --bg-slide: #1b1a55;

  --bg-btn-arrow-slider: #9290c3;
  --bg-btn-arrow-boxShadow: rgba(83, 92, 145, 0.6);
  --bg-btn-toggler: transparent;
  --bg-btn-span-toggler: var(--pri-color-svg);
  --bg-mobile-menu: #1b1a55;
  --bg-btn-overlay-close: transparent;
  --color-overlay-close: #9290c3;
  --bg-btn-default: #535c91;

  --bg-theme-zones: #070f2b;
  --color-night: #535c91;
  --color-day: #9290c3;
  --color-sundown: #9290c3;
  --color-sunrise: #535c91;
}
